.sign-up, .login{
    text-align: center;
}
.sign-up h1, .login h1{
    margin-bottom: 50px;
    margin-top: 80px;
    color: blueviolet;
}
#auth-toggle-link{
    margin-top: 30px;
    color: blueviolet;
    text-align: left;
    text-shadow: 14px;  
    cursor: pointer;
}
.error-p{
    color: red;
}