<div class="seller-auth">
    <div *ngIf="!isLoginEnabled" class="sign-up">
        <h1>Seller Sign-Up</h1>
        <form #sellerSignUp="ngForm" (ngSubmit)="SignUp(sellerSignUp.value)" class="common-form">
            <input class="common-input" ngModel name="name" type="text" placeholder="Enter Name">
            <input class="common-input" ngModel name="password" type="password" placeholder="Enter Password">
            <input class="common-input" ngModel name="email" type="text" placeholder="Enter Email">
            <button class="common-button">SignUp</button>
            <a id="auth-toggle-link" (click)="openLogin()">Already have an account Click here to Login</a>
        </form>
    </div>
    
    <!--Login Area-->
    <div *ngIf="isLoginEnabled" class="login">
        <h1>Seller Login</h1>
        <p class="error-p">{{authError}}</p>
        <form #sellerLogIn="ngForm" (ngSubmit)="LogIn(sellerLogIn.value)" class="common-form">
            <input class="common-input" ngModel name="email" type="text" placeholder="Enter Email">
            <input class="common-input" ngModel name="password" type="password" placeholder="Enter Password">
            <button class="common-button">Login</button>
            <a id="auth-toggle-link" (click)="openSignUp()">Don't have an account Click here to Sign-Up</a>
        </form>
    </div>
</div>